{% extends "layout.html" %}

{% block title %}
    О проекте   
{% endblock %}

{% block main %}
    <h5 >Растительная пища полезна, безвредна для окружающей среды и действительно вкусна. </h5>
    <h5 >  Приготовление веганских блюд может показаться сложным, но рецепты без яиц, мяса и молочных продуктов могут быть простыми и вкусными. </h5> 
    <br>
    <h5 > Мы собрали лучшие веганские видео рецепты на просторах рунета и представили их вам на нашем сайте. </h5>
    <h5>  Вы можете зарегистрироваться и добавлять любые понравившиеся рецепты к себе в сохраненные. </h5>
    <br>
    <h5>Прелестью нашего сайта является поисковая строка, которая по вашему запросу выдаст только на 100% веганские рецепты. 
        Это вам не гугл, яндекс или ютуб, которые выдают всё подряд! Мы провели всю выбраковку за вас! Так что пользуйтесь нашим сайтом на здоровье и с удовольствием.</h5>
    <br>
    <p align="center" class="my">
        Сейчас на сайте представлено 210 видео рецептов и наша база постоянно пополняется!
        Авторские права на видеоматериалы принадлежат их авторам! Под каждым рецептом указана ссылка на источник.
        У нас некоммерческий проект и соответственно нет цели заработать, а лишь представить вам удобный сервис, которым вы будете пользоваться в своей ежедневной жизни.
        <br> По всем вопросам: <a href='https://t.me/karamon' target="_blank">Telegram</a> или gevorik18@gmail.com
    </p>
{% endblock %}
