{% extends "layout.html" %}

{% block title %}
    Веганские рецепты   
{% endblock %}

{% block main %}
<div class="col-md-10 mx-auto col-lg-5">
    <form action="/register" method="post" class="p-4 p-md-5 border rounded-3 bg-light">
      <div class="form-floating mb-3">
        <input type="email" class="form-control" id="email" name="email" placeholder="E-mail">
        <label for="E-mail">E-mail</label>
      </div>
      <div class="form-floating mb-3">
        <input type="password" class="form-control"  id="pas" name="pas" placeholder="Пароль">
        <label for="Пароль">Пароль</label>
      </div>
      <div class="form-floating mb-3">
        <input type="password" class="form-control"  id="pas1" name="pas1" placeholder="Пароль1">
        <label for="Пароль1">Повторите пароль</label>
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit">Зарегистрироваться</button>
      <hr class="my-4">
    </form>
  </div>
{% endblock %}
